{% load static %}
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<title>Pricing Plan</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<link rel="profile" href="#">
    <!--Google Font-->
    <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
	<link rel="icon" type="image-asset/png" href="{% static '\image-asset\icon.png'%}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"></script>
	<!-- Mobile specific meta -->
	<meta name=viewport content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone-no">

	<!-- CSS files -->
	<link rel="stylesheet" href="{% static 'css\plugins.css'%}">
	<link rel="stylesheet" href="{% static 'css\style.css'%}">

</head>
<body><header class="ht-header">
	<div class="container">
		<nav class="navbar navbar-default navbar-custom">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header logo">
				    <div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					    <span class="sr-only">Toggle navigation</span>
					    <div id="nav-icon1">
							<span></span>
							<span></span>
							<span></span>
						</div>
				    </div>
				    <a href="{% url 'index'%}"><img class="logo" src="{% static '\image-asset\icon.png'%}" alt="" width="119" height="58"></a>
			    </div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav flex-child-menu menu-left">
						<li class="hidden">
							<a href="#page-top"></a>
						</li>
						<li class="dropdown first">
							{% if user.is_authenticated %}
								{% if user.is_superuser %}
									<a href="{% url 'admin_dashboard' %}" class="btn btn-default dropdown-toggle lv1">
										Dashboard <i class="" aria-hidden="true"></i>
									</a>
								{% elif user.userprofiledoc.is_premium %}
									<a href="{% url 'premiumuserpage' %}" class="btn btn-default dropdown-toggle lv1">
										Dashboard <i class="" aria-hidden="true"></i>
									</a>
								{% else %}
									<a href="{% url 'userprofile' %}" class="btn btn-default dropdown-toggle lv1">
										Dashboard <i class="" aria-hidden="true"></i>
									</a>
								{% endif %}
							{% else %}
								<a href="{% url 'index' %}" class="btn btn-default dropdown-toggle lv1">
									Home <i class="" aria-hidden="true"></i>
								</a>
							{% endif %}
						</li>
						

					<li class="dropdown first">
						<a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
							Categories <i class="fa fa-angle-down" aria-hidden="true"></i>
						</a>
						<ul class="dropdown-menu level1">
							{% for category in categories %}
								<li class="dropdown">
									<a href="{% url 'category_filter' category=category.name %}" class="dropdown-toggle">{{ category.name }}</a>
								</li>
							{% endfor %}
						</ul>
					</li>

				
		
					<li class="dropdown first">
						<a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
							Artists <i class="fa fa-angle-down" aria-hidden="true"></i>
						</a>
						<ul class="dropdown-menu level1">
							{% if admin_user %}
								<li><a href="{% url 'profileview' username=admin_user.username %}">{{ admin_user.username }} (Admin)</a></li>
							{% endif %}
							{% for creator in creators %}
								{% if creator.user.userprofiledoc.is_approved %}
									<li class="{% if forloop.counter > 5 and not show_all_creators %}hidden-creator{% endif %}">
										<a href="{% url 'profileview' username=creator.user.username %}">{{ creator.user.username }}</a>
									</li>
								{% endif %}
							{% endfor %}
							{% if creators|length > 5 %}
								<li id="showAllCreators" {% if not show_all_creators %}class="visible-all-creators"{% endif %}>
									<a href="#" onclick="toggleAllCreators()">All Creators</a>
								</li>
							{% endif %}
						</ul>
					</li>
					
					<script>
						function toggleAllCreators() {
							var hiddenCreators = document.querySelectorAll('.hidden-creator');
							for (var i = 0; i < hiddenCreators.length; i++) {
								hiddenCreators[i].classList.toggle('visible-creator');
							}
							document.getElementById('showAllCreators').classList.toggle('visible-all-creators');
							show_all_creators = !show_all_creators;
						}
					
						var show_all_creators = false;
					</script>
					

		
				<li class="dropdown first">
					{% if user.is_superuser %}
						<a href="{% url 'upload_wallpaper' %}" class="btn btn-default lv1">
							Upload
						</a>
					{% elif user.userprofiledoc.is_creator %}
						<a href="{% url 'userprofile' %}" class="btn btn-default lv1">
							Upload
						</a>
					{% elif user.userprofiledoc.is_premium %}
						<a href="{% url 'subscribe_page' %}" class="btn btn-default lv1">
							Pricing
						</a>
					{% else %}
						<a href="{% url 'login' %}" class="btn btn-default lv1">
							Upload
						</a>
					{% endif %}
				</li>
				
						
						
						<li class="dropdown first">
							<a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
							community <i class="fa fa-angle-down" aria-hidden="true"></i>
							</a>
							<ul class="dropdown-menu level1">
								<li><a href="{% url 'community' %}">Community Chat</a></li>
								<li><a href="#">user favorite list</a></li>
								<li><a href="#">user profile</a></li>
								<li class="it-last"><a href="#">user rate</a></li>
							</ul>
						</li>
						<li class="dropdown first">
							<a href="{% url 'ai_wallpaper_generator' %}" class="btn btn-default lv1" target="_blank">
								AI Wallpaper Generator
							</a>
						</li>
						

					</ul>
					<ul class="nav navbar-nav flex-child-menu menu-right">
						<ul class="nav navbar-nav flex-child-menu menu-right">
							{% if user.is_authenticated %}
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">
										<img src="{% if user.userprofiledoc.avatar %}{{ user.userprofiledoc.avatar.url }}{% else %}{% static 'image-asset/dp.jpg' %}{% endif %}" 
										style="width: 50px; height: 50px; border-radius: 50%;" 
										alt="Avatar">

									<span class="caret"></span>
									</a>
									<ul class="dropdown-menu level1">
										{% if user.userprofiledoc.is_creator %}
											<li><a href="{% url 'userprofile'%}">Dashboard</a></li>
										{% endif %}
										{% if user.is_superuser %}
											<li><a href="{% url 'admin_dashboard'%}">Dashboard</a></li>
										{% endif %}
										{% if user.userprofiledoc.is_premium %}
											<li><a href="{% url 'premiumuserpage'%}">Dashboard</a></li>
										{% endif %}
										<li class="droplogout"><a href="{% url 'logout'%}">Logout</a></li>
									</ul>
								</li>
							{% else %}
								<li class="login"><a href="{% url 'subscribe_page'%}">Pricing</a></li>
								<li class="btn signup"><a href="{% url 'login'%}">LOG IN</a></li>
								<li class="btn signup"><a href="{% url 'signup'%}">SIGN UP</a></li>
							{% endif %}
						</ul>
						
						
					</ul>
					
					
				</div>
</header>
<!-- END | Header -->

<div class="slider wall-item">
	<div class="container">
		<div class="row">


<div class="demo">
   
    <a href="{% url 'signup'%}">SIGN UP</a>
			

    </div>
</div>


<footer class="ht-footer">
	<div class="container">
		<div class="flex-parent-ft">
			<div class="flex-child-ft item1">
				 <a href="{% url 'index'%}"><img class="logo" src="{% static '\image-asset\icon.png'%}" width="120" height="60"  alt=""></a>
				 <p>ARR WALLPAPERS is an online <br>community of desktop wallpapers enthusiasts.<br><a href="{% url 'signup' %}"><strong>Join now</strong></a> to share 
					and explore tons of collections <br>of awesome wallpapers.</p>
				<p>Call us: <a href="#">(+91) 954 438 2726</a></p>
			</div>
			<div class="flex-child-ft item2">
				<h4>Info</h4>
				<ul>
					<li><a href="{% url 'about' %}">About</a></li> 
					<li><a href="{% url 'contactform' %}">Contact Us</a></li>
					<li><a href="#">Forums</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="#">Help Center</a></li>
				</ul>
			</div>
			<div class="flex-child-ft item3">
				<h4>Legal</h4>
				<ul>
					<li><a href="{% url 'termsofservice' %}">Terms of Service</a></li> 
					<li><a href="{% url 'privacypolicy' %}">Privacy Policy</a></li>	
					<li><a href="#">Cookies policy</a></li>
				</ul>
			</div>
			
			<div class="flex-child-ft item4">
				<h4>Account</h4>
				<ul>
					<li><a href="{% url 'arr_contributor' %}">Sell Content</a></li>
					<li>
						{% if user.userprofiledoc.is_creator %}
							<a href="{% url 'userprofile' %}">
								My Account
							</a>
						{% elif user.userprofiledoc.is_premium %}
							<a href="{% url 'subscribe_page' %}">
								My Account
							</a>
						{% elif	user.is_superuser %}
							<a href="{% url 'admin_dashboard' %}">
								My Account
							</a>
						{% else %}
							<a href="{% url 'login' %}">
								My Account
							</a>
						{% endif %}
					</li>
					<li><a href="{% url 'liked_wallpapers' %}">Liked Wallpapers</a></li>
					

					<li><a href="#">Collections</a></li>
					<li><a href="#">User Guide</a></li>
					

				</ul>
			</div>
			<div class="flex-child-ft item5">
				<h4>Youtube</h4>
				<p>Subscribe to my Youtube now <br> to get latest news from us.</p>
				<form Wallpaper="https://youtube.com/@amberbeatz">
					<input type="text" placeholder="Enter your email...">
				</form>
				<a href="https://www.youtube.com/@amberbeatz/" class="btn">Subscribe now <i class="ion-ios-arrow-forward"></i></a>
			</div>
		</div>
	</div>
	<div class="ft-copyright">
		<div class="ft-left">
			<p><a target="_blank" href="">© ARR WALLPAPERS</a></p>
		</div>
		<div class="backtotop">
			<p><a href="#" id="back-to-top">Back to top  <i class="ion-ios-arrow-thin-up"></i></a></p>
		</div>
	</div>
</footer>
<!-- end of footer section-->
<script src="{% static 'js\jquery.js'%}"></script>
<script src="{% static 'js\plugins.js'%}"></script>
<script src="{% static 'js\plugins2.js'%}"></script>
<script src="{% static 'js\custom.js'%}"></script>
	
</body>

</html>

