{% load static %}
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<title>ARR WALLPAPERS</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<link rel="profile" href="#">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Mobile specific meta -->
	<meta name=viewport content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone-no">
    <!--Google Font-->
    <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">

	<link rel="icon" type="image-asset/png" href="{% static '\image-asset\icon.png'%}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


	<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js"></script>

	<!-- CSS files -->
	<link rel="stylesheet" href="{% static 'css\plugins.css'%}">
	<link rel="stylesheet" href="{% static 'css\style.css'%}">
	<style>
		.wallpapers {
			margin: 0 auto;
			column-count: 3; 
			column-gap: 15px; 
		}
		
		.wallpaper-box {
			margin: 0 0 15px 0;
			width: 100%; 
			break-inside: avoid-column;
			position: relative;
		}
		
		.wallpaper-image img {
			width: 100%; 
			height: auto;
			border-radius: 5px;
		}
.wallpaper-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	background: rgba(158, 155, 155, 0.067); 
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    transition: opacity 0.3s ease;
    border: white;
}

.wallpaper-overlay h3 {
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
}

.tags {
    position: absolute;
    bottom: 0;
    color: white;
	
}

.tag {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 2px;
}

.like-button-container {
    margin: 10px;
    text-align: center;
}

.like-button {
    padding: 5px 10px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 28px;
    height: 28px;
    background-color: rgba(246, 246, 246, 0.65);
    color: #ffffff;
    z-index: 1;
}

.like-button i {
    margin-right: 5px;
}

.like-button:hover {
    color: #ff0000;
}
.like-button.liked {
    color: #ff0000; 
}
.like-button.liked {
    background-color: #ff0000; 
    color: #ffffff; 
}

.like-button.liked i {
    color: #ffffff; 
}
.premium-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50px;
    right: 15px;
    width: 28px;
    height: 28px;
    border-radius: 8px;
    background-color: rgba(8, 25, 43, 0.65);
    color: #fca120;
    z-index: 1;
}
.wallpaper-box:hover .wallpaper-overlay {
    opacity: 1;
}

.view-count {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: white;
    margin-top: 2px;
    position: absolute;
    top: 100px; 
    right: 0;
    width: 28px;
    height: 28px;
    z-index: 1;
	display:flex;
    flex-direction: column;
}
.custombtn{

	position: absolute;
	right: 10px;
	height: 30px;
	width: 30px;
	cursor: pointer;
	
}

.view-count i {
    margin-right: 5px;

}
.top-search{
	position: relative;
}
.view-count span {
    display: inline-block;
    vertical-align: middle;
}
#search-form{
	width: 100%;
}

@media (max-width: 768px) {
    .wallpapers {
        column-count: 2; 
    }
}

@media (max-width: 576px) {
    .wallpapers {
        column-count: 1; 
    }
}
@media (max-width: 767px) {
    .mobile-margin {
        margin-bottom: 10px; 
    }
}


	</style>
</head>
<body>
<!-- BEGIN | Header -->
<header class="ht-header">
	<div class="container">
		<nav class="navbar navbar-default navbar-custom">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header logo">
				    <div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					    <span class="sr-only">Toggle navigation</span>
					    <div id="nav-icon1">
							<span></span>
							<span></span>
							<span></span>
						</div>
				    </div>
				    <a href="{% url 'index'%}"><img class="logo" src="{% static '\image-asset\icon.png'%}" alt="" width="119" height="58"></a>
			    </div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav flex-child-menu menu-left">
						<li class="hidden">
							<a href="#page-top"></a>
						</li>
						<li class="dropdown first">
							{% if user.is_authenticated %}
								{% if user.is_superuser %}
									<a href="{% url 'admin_dashboard' %}" class="btn btn-default dropdown-toggle lv1">
										Dashboard <i class="" aria-hidden="true"></i>
									</a>
								{% elif user.userprofiledoc.is_premium %}
									<a href="{% url 'premiumuserpage' %}" class="btn btn-default dropdown-toggle lv1">
										Dashboard <i class="" aria-hidden="true"></i>
									</a>
								{% else %}
									<a href="{% url 'userprofile' %}" class="btn btn-default dropdown-toggle lv1">
										Dashboard <i class="" aria-hidden="true"></i>
									</a>
								{% endif %}
							{% else %}
								<a href="{% url 'index' %}" class="btn btn-default dropdown-toggle lv1">
									Home <i class="" aria-hidden="true"></i>
								</a>
							{% endif %}
						</li>
						

						<li class="dropdown first">
							<a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
							Categories<i class="fa fa-angle-down" aria-hidden="true"></i>
							</a>
							<ul class="dropdown-menu level1">
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown" >Superheros</i></a>
									
								</li>			
								<li><a href="#">Anime</a></li>
								<li class="it-last"><a href="#">Nature</a></li>
							</ul>
						</li>
						<li class="dropdown first">
							<a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
							Artists <i class="fa fa-angle-down" aria-hidden="true"></i>
							</a>
							<ul class="dropdown-menu level1">
								<li><a href="#">Artist 1</a></li>
								<li><a href="#">Artist 2 </a></li> 
								<li><a href="#">Artist lists</a></li>
							</ul>
						</li>
						<li class="dropdown first">
							{% if user.userprofiledoc.is_creator %}
								<a href="{% url 'userprofile' %}" class="btn btn-default lv1">
									Upload
								</a>
							{% elif user.userprofiledoc.is_premium %}
								<a href="{% url 'subscribe_page' %}" class="btn btn-default lv1">
									Subscribe
								</a>
							{% else %}
								<a href="{% url 'login' %}" class="btn btn-default lv1">
									Upload
								</a>
							{% endif %}
						</li>
						
						
						<li class="dropdown first">
							<a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
							community <i class="fa fa-angle-down" aria-hidden="true"></i>
							</a>
							<ul class="dropdown-menu level1">
								<li><a href="#">user favorite grid</a></li>
								<li><a href="#">user favorite list</a></li>
								<li><a href="#">user profile</a></li>
								<li class="it-last"><a href="#">user rate</a></li>
							</ul>
						</li>
					</ul>
					<ul class="nav navbar-nav flex-child-menu menu-right">
						<ul class="nav navbar-nav flex-child-menu menu-right">
							{% if user.is_authenticated %}
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">
										<img src="{% if user.userprofiledoc.avatar %}{{ user.userprofiledoc.avatar.url }}{% else %}{% static 'image-asset/dp.jpg' %}{% endif %}" width="40" height="40" style="border-radius: 50%;">
										<span class="caret"></span>
									</a>
									<ul class="dropdown-menu level1">
										{% if user.userprofiledoc.is_creator %}
											<li><a href="{% url 'userprofile'%}">Dashboard</a></li>
										{% endif %}
										{% if user.is_superuser %}
											<li><a href="{% url 'admin_dashboard'%}">Dashboard</a></li>
										{% endif %}
										{% if user.userprofiledoc.is_premium %}
											<li><a href="{% url 'premiumuserpage'%}">Dashboard</a></li>
										{% endif %}
										<li><a href="{% url 'logout'%}">Logout</a></li>
									</ul>
								</li>
							{% else %}
								<li><a href="{% url 'login'%}">LOG IN</a></li>
								<li class="btn premium mobile-margin"><a href="{% url 'Premium_signup'%}">Subscribe</a></li>
								<li class="btn signup"><a href="{% url 'signup'%}">SIGN UP</a></li>
							{% endif %}
						</ul>
						
						
					</ul>
					
					
				</div>
			<!-- /.navbar-collapse -->
	    </nav>
		<div class="top-search">
			<form method="GET" id="search-form" action="#scroll">
				<input type="text" id="search-input" name="q" placeholder="Search for a Wallpaper, Superheros, nature etc. that you are looking for" value="{{ query|default:"" }}">
			</form>
			<img class="custombtn" id="search-image" src="{% static 'image-asset/topsearch.png'%}">
		</div>	
		 
	</div>
</header>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#search-image').on('click', function () {
            $('#search-form').submit(); 
        });
    });
</script>

<!-- END | Header -->

<div class="slider wall-item">
	<div class="container">
		<div class="row">
			<div class="social-link">
				<p>Follow us: </p>
				<a href="#"><i class="ion-social-facebook"></i></a>
				<a href="#"><i class="ion-social-twitter"></i></a>
				<a href="#"><i class="ion-social-googleplus"></i></a>
				<a href="#"><i class="ion-social-youtube"></i></a>
			</div>

			{% block content %}
	    	<div  class="slick-multiItemSlider">
	    		<div class="movie-item">
	    			<div class="mv-img">
	    				<a href="#"><img src="{% static 'image-asset\thumbnail.jpg'%}" alt="" width="285" height="437"></a>
	    			</div>
	    			<div class="title-in">
	    				<div class="cate">
	    					<span class="blue"><a href="#">Wallpaper</a></span>
	    				</div>
	    				<h6><a href="#">Hacker</a></h6>
	    				<p><i class="ion-android-star"></i><span>7.4</span> /10</p>
	    			</div>
	    		</div>
				<div class="movie-item">
	    			<div class="mv-img">
	    				<a href="#"><img src="{% static 'image-asset\thumbnail.jpg'%}" alt="" width="285" height="437"></a>
	    			</div>
	    			<div class="title-in">
	    				<div class="cate">
	    					<span class="yell"><a href="#">Wallpaper</a></span>
	    				</div>
	    				<h6><a href="#">Hacker</a></h6>
	    				<p><i class="ion-android-star"></i><span>7.4</span> /10</p>
	    			</div>
	    		</div>
	    		<div class="movie-item">
	    			<div class="mv-img">
	    				<a href="#"><img src="{% static 'image-asset\thumbnail.jpg'%}" alt="" width="285" height="437"></a>
	    			</div>
	    			<div class="title-in">
	    				<div class="cate">
	    					<span class="green"><a href="#">Wallpaper</a></span>
	    				</div>
	    				<h6><a href="#">Hacker</a></h6>
	    				<p><i class="ion-android-star"></i><span>7.4</span> /10</p>
	    			</div>
	    		</div>
	    		<div class="movie-item">
	    			<div class="mv-img">
	    				<a href="#"><img src="{% static 'image-asset\thumbnail.jpg'%}" alt="" width="285" height="437"></a>
	    			</div>
	    			<div class="title-in">
	    				<div class="cate">
	    					<span class="blue"><a href="#">Wallpaper</a></span> <span class="orange">Wallpaper<a href="#"></a></span>
	    				</div>
	    				<h6><a href="#">Hacker</a></h6>
	    				<p><i class="ion-android-star"></i><span>7.4</span> /10</p>
	    			</div>
	    		</div>
	    		<div class="movie-item">
	    			<div class="mv-img">
	    				<a href="#"><img src="{% static 'image-asset\thumbnail.jpg'%}" alt="" width="285" height="437"></a>
	    			</div>
	    			<div class="title-in">
	    				<div class="cate">
	    					<span class="blue"><a href="#">Wallpaper</a></span>
	    				</div>
	    				<h6><a href="#">Hacker</a></h6>
	    				<p><i class="ion-android-star"></i><span>7.4</span> /10</p>
	    			</div>
	    		</div>
				<div class="movie-item">
	    			<div class="mv-img">
	    				<a href="#"><img src="{% static 'image-asset\thumbnail.jpg'%}" alt="" width="285" height="437"></a>
	    			</div>
	    			<div class="title-in">
	    				<div class="cate">
	    					<span class="yell"><a href="#">Wallpaper</a></span>
	    				</div>
	    				<h6><a href="#">Hacker</a></h6>
	    				<p><i class="ion-android-star"></i><span>7.4</span> /10</p>
	    			</div>
	    		</div>
	    		<div class="movie-item">
	    			<div class="mv-img">
	    				<img src="{% static 'image-asset\thumbnail.jpg'%}" alt="" width="285" height="437">
	    			</div>
	    			<div class="title-in">
	    				<div class="cate">
	    					<span class="green"><a href="#">Wallpaper</a></span>
	    				</div>
	    				<h6><a href="#">Hacker</a></h6>
	    				<p><i class="ion-android-star"></i><span>7.4</span> /10</p>
	    			</div>
	    		</div>
	    		<div class="movie-item">
	    			<div class="mv-img">
	    				<img src="{% static 'image-asset\thumbnail.jpg'%}" alt="" width="285" height="437">
	    			</div>
	    			<div class="title-in">
	    				<div class="cate">
	    					<span class="blue"><a href="#">Wallpaper</a></span> <span class="orange"><a href="#">advanture</a></span>
	    				</div>
	    				<h6><a href="#">Hacker</a></h6>
	    				<p><i class="ion-android-star"></i><span>7.4</span> /10</p>
	    			</div>
	    		</div>
	    		<div class="movie-item">
	    			<div class="mv-img">
	    				<img src="{% static 'image-asset\thumbnail.jpg'%}" alt="" width="285" height="437">
	    			</div>
	    			<div class="title-in">
	    				<div class="cate">
	    					<span class="green"><a href="#">Wallpaper</a></span>
	    				</div>
	    				<h6><a href="#">Hacker</a></h6>
	    				<p><i class="ion-android-star"></i><span id="scroll" >7.4</span> /10</p>
	    			</div>
	    		</div>
	    	</div>
	    </div>
	</div>
</div>
<div class="wall-item">
    <div class="container">
        <div class="row ipad-width">
            <div class="col-md-12">
                <div class="title-hd">
                    <h2 style="color: rgb(255, 255, 255); font-weight: bold">WALLPAPERS</h2>
                    <a href="#" class="viewall">View all <i class="ion-ios-arrow-right"></i></a>
                </div>
                <div class="wallpapers">
					<div class="grid-sizer"></div> <!-- Masonry requires a grid-sizer element -->
					{% if wallpapers %}
						{% for wallpaper in wallpapers %}
						<div class="wallpaper-box">
							<a href="{% url 'wallpaper_details' wallpaper.id %}" data-lightbox="wallpapers" data-title="{{ wallpaper.title }}">
								<div class="wallpaper-image">
									<img src="{{ wallpaper.wallpaper_image.url }}" alt="{{ wallpaper.title }}">
									<div class="wallpaper-details">
										{% if wallpaper.price == 'paid' %}
										<div class="premium-icon">
											<i class="fas fa-crown"></i>
										</div>
										{% endif %}
										<div class="wallpaper-overlay">
											<h3>{{ wallpaper.title }}</h3>
											<!-- HTML -->
											<div class="like-button-container">
												<button class="like-button" data-wallpaper-id="{{ wallpaper.id }}"><i class="fas fa-heart"></i></button>
											</div>
				
											<div class="view-count">
												<div id="innerone"><i class="fas fa-eye"></i><br></div>
												<div id="innertwo"><span id="view-count-{{ wallpaper.id }}">{{ wallpaper.view_count }}</span></div>
											</div>
				
											<p class="tags">
												{% for tag in wallpaper.tags.all %}
												<span class="tag">{{ tag.name }}</span>
												{% endfor %}
											</p>
										</div>
									</div>
								</div>
							</a>
						</div>
						{% endfor %}
					{% else %}
						<p>No wallpapers available.</p>
					{% endif %}
				</div>
				
				
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
<!--end of latest new v1 section-->
<!-- footer section-->
<footer class="ht-footer">
	<div class="container">
		<div class="flex-parent-ft">
			<div class="flex-child-ft item1">
				 <a href="{% url 'index'%}"><img class="logo" src="{% static '\image-asset\icon.png'%}" width="120" height="60"  alt=""></a>
				 <p>India<br>
				Kerala, Kottayam- Pala</p>
				<p>Call us: <a href="#">(+91) 954 438 2726</a></p>
			</div>
			<div class="flex-child-ft item2">
				<h4>Resources</h4>
				<ul>
					<li><a href="#">About</a></li> 
					<li><a href="#">Wallpapers</a></li>
					<li><a href="#">Contact Us</a></li>
					<li><a href="#">Forums</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="#">Help Center</a></li>
				</ul>
			</div>
			<div class="flex-child-ft item3">
				<h4>Legal</h4>
				<ul>
					<li><a href="#">Terms of Use</a></li> 
					<li><a href="#">Privacy Policy</a></li>	
					<li><a href="#">Security</a></li>
				</ul>
			</div>
			<div class="flex-child-ft item4">
				<h4>Account</h4>
				<ul>
					<li><a href="#">My Account</a></li> 
					<li><a href="{% url 'liked_wallpapers' %}">Liked Wallpapers</a></li>

					<li><a href="#">Collections</a></li>
					<li><a href="#">User Guide</a></li>
				</ul>
			</div>
			<div class="flex-child-ft item5">
				<h4>Youtube</h4>
				<p>Subscribe to my Youtube now <br> to get latest news from us.</p>
				<form Wallpaper="https://youtube.com/@amberbeatz">
					<input type="text" placeholder="Enter your email...">
				</form>
				<a href="#" class="btn">Subscribe now <i class="ion-ios-arrow-forward"></i></a>
			</div>
		</div>
	</div>
	<div class="ft-copyright">
		<div class="ft-left">
			<p><a target="_blank" href="">© ARR WALLPAPERS</a></p>
		</div>
		<div class="backtotop">
			<p><a href="#" id="back-to-top">Back to top  <i class="ion-ios-arrow-thin-up"></i></a></p>
		</div>
	</div>
</footer>
<!-- end of footer section-->
<script src="{% static 'js\jquery.js'%}"></script>
<script src="{% static 'js\plugins.js'%}"></script>
<script src="{% static 'js\plugins2.js'%}"></script>
<script src="{% static 'js\custom.js'%}"></script>

<script>
    lightbox.option({
        'resizeDuration': 200,
        'wrapAround': true
    });
</script>
<script>
	// Initialize Masonry after the document is ready
$(document).ready(function () {
    var $wallpapers = $('.wallpapers');
    $wallpapers.imagesLoaded(function () { 
        $wallpapers.masonry({
            itemSelector: '.wallpaper-box',
            columnWidth: '.grid-sizer',
            percentPosition: true,
            gutter: 10 
        });
    });
});
</script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Function to set a cookie
        function setCookie(name, value, days) {
            var expires = "";
            if (days) {
                var date = new Date();
                date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                expires = "; expires=" + date.toUTCString();
            }
            document.cookie = name + "=" + (value || "") + expires + "; path=/";
        }
        // Function to get a cookie
        function getCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) === ' ') c = c.substring(1, c.length);
                if (c.indexOf(nameEQ) === 0) return c.substring(nameEQ.length, c.length);
            }
            return null;
        }
        var likedWallpapers = JSON.parse(getCookie("likedWallpapers")) || [];
        var likeButtons = document.querySelectorAll('.like-button');
        likeButtons.forEach(function(likeButton) {
            var wallpaperId = likeButton.getAttribute('data-wallpaper-id');
            if (likedWallpapers.includes(wallpaperId)) {
                likeButton.classList.add('liked'); 
            }

            likeButton.addEventListener('click', function() {
                if (likedWallpapers.includes(wallpaperId)) {
                    likedWallpapers = likedWallpapers.filter(function(id) {
                        return id !== wallpaperId;
                    });
                    likeButton.classList.remove('liked'); 
                } else {
                    likedWallpapers.push(wallpaperId);
                    likeButton.classList.add('liked'); 
                }
                setCookie("likedWallpapers", JSON.stringify(likedWallpapers), 365);
            });
        });
    });
</script>

</body>

</html>
