{% load static %}
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<title>ARR WALLPAPERS</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<link rel="profile" href="#">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Mobile specific meta -->
	<meta name=viewport content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone-no">
    <!--Google Font-->
    <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">

	<link rel="icon" type="image-asset/png" href="{% static '\image-asset\icon.png'%}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


	<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js"></script>

	<!-- CSS files -->
	<link rel="stylesheet" href="{% static 'css\plugins.css'%}">
	<link rel="stylesheet" href="{% static 'css\style.css'%}">
	<style>
		.wallpapers {
			margin: 0 auto;
			column-count: 3; 
			column-gap: 15px; 
		}
		
		.wallpaper-box {
			margin: 0 0 15px 0;
			width: 100%; 
			break-inside: avoid-column;
			position: relative;
		}
		
		.wallpaper-image img {
			width: 100%; 
			height: auto;
			border-radius: 5px;
		}
.wallpaper-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	background: rgba(158, 155, 155, 0.067); 
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    transition: opacity 0.3s ease;
    border: white;
}

.wallpaper-overlay h3 {
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
}

.tags {
    position: absolute;
    bottom: 0;
    color: white;
	
}

.tag {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 2px;
}

.like-button-container {
    margin: 10px;
    text-align: center;
}

.like-button {
    padding: 5px 10px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 28px;
    height: 28px;
    background-color: rgba(246, 246, 246, 0.65);
    color: #ffffff;
    z-index: 1;
}

.like-button i {
    margin-right: 5px;
}

.like-button:hover {
    color: #ff0000;
}
.like-button.liked {
    color: #ff0000; 
}
.like-button.liked {
    background-color: #ff0000; 
    color: #ffffff; 
}

.like-button.liked i {
    color: #ffffff; 
}
.premium-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50px;
    right: 15px;
    width: 28px;
    height: 28px;
    border-radius: 8px;
    background-color: rgba(8, 25, 43, 0.65);
    color: #fca120;
    z-index: 1;
}
.wallpaper-box:hover .wallpaper-overlay {
    opacity: 1;
}

.view-count {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: white;
    margin-top: 2px;
    position: absolute;
    top: 100px; 
    right: 0;
    width: 28px;
    height: 28px;
    z-index: 1;
	display:flex;
    flex-direction: column;
}
.custombtn{

	position: absolute;
	right: 10px;
	height: 30px;
	width: 30px;
	cursor: pointer;
	
}

.view-count i {
    margin-right: 5px;

}
.top-search{
	position: relative;
}
.view-count span {
    display: inline-block;
    vertical-align: middle;
}
#search-form{
	width: 100%;
}

@media (max-width: 768px) {
    .wallpapers {
        column-count: 2; 
    }
}

@media (max-width: 576px) {
    .wallpapers {
        column-count: 1; 
		
    }
}
@media (max-width: 767px) {
    .mobile-margin {
        margin-bottom: 10px; 
    }
}

	</style>

	<style>
		#snackbar {
			display: none;
			position: fixed;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			background-color: #19a700;
			color: #fff;
			text-align: center;
			padding: 15px;
			border-radius: 8px;
			animation: fadeIn 0.5s, fadeOut 0.5s 2.5s forwards;
		}
	
		@keyframes fadeIn {
			from {
				opacity: 0;
			}
			to {
				opacity: 1;
			}
		}
	
		@keyframes fadeOut {
			from {
				opacity: 1;
			}
			to {
				opacity: 0;
			}
		}
	
		#snackbar.error {
			background-color: #ff5c5c;
		}
	</style>
</head>
<body>
	
		
<!-- BEGIN | Header -->
<header class="ht-header">
	<div class="container">
		<nav class="navbar navbar-default navbar-custom">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header logo">
				    <div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					    <span class="sr-only">Toggle navigation</span>
					    <div id="nav-icon1">
							<span></span>
							<span></span>
							<span></span>
						</div>
				    </div>
				    <a href="{% url 'index'%}"><img class="logo" src="{% static '\image-asset\icon.png'%}" alt="" width="119" height="58"></a>
			    </div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav flex-child-menu menu-left">
						<li class="hidden">
							<a href="#page-top"></a>
						</li>
						<li class="dropdown first">
							{% if user.is_authenticated %}
								{% if user.is_superuser %}
									<a href="{% url 'admin_dashboard' %}" class="btn btn-default dropdown-toggle lv1">
										Dashboard <i class="" aria-hidden="true"></i>
									</a>
								{% elif user.userprofiledoc.is_premium %}
									<a href="{% url 'premiumuserpage' %}" class="btn btn-default dropdown-toggle lv1">
										Dashboard <i class="" aria-hidden="true"></i>
									</a>
								{% else %}
									<a href="{% url 'userprofile' %}" class="btn btn-default dropdown-toggle lv1">
										Dashboard <i class="" aria-hidden="true"></i>
									</a>
								{% endif %}
							{% else %}
								<a href="{% url 'index' %}" class="btn btn-default dropdown-toggle lv1">
									Home <i class="" aria-hidden="true"></i>
								</a>
							{% endif %}
						</li>
						

					<li class="dropdown first">
						<a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
							Categories <i class="fa fa-angle-down" aria-hidden="true"></i>
						</a>
						<ul class="dropdown-menu level1">
							{% for category in categories %}
								<li class="dropdown">
									<a href="{% url 'category_filter' category=category.name %}" class="dropdown-toggle">{{ category.name }}</a>
								</li>
							{% endfor %}
						</ul>
					</li>

				
		
					<li class="dropdown first">
						<a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
							Artists <i class="fa fa-angle-down" aria-hidden="true"></i>
						</a>
						<ul class="dropdown-menu level1">
							{% if admin_user %}
								<li><a href="{% url 'profileview' username=admin_user.username %}">{{ admin_user.username }} (Admin)</a></li>
							{% endif %}
							{% for creator in creators %}
								{% if creator.user.userprofiledoc.is_approved %}
									<li class="{% if forloop.counter > 5 and not show_all_creators %}hidden-creator{% endif %}">
										<a href="{% url 'profileview' username=creator.user.username %}">{{ creator.user.username }}</a>
									</li>
								{% endif %}
							{% endfor %}
							{% if creators|length > 5 %}
								<li id="showAllCreators" {% if not show_all_creators %}class="visible-all-creators"{% endif %}>
									<a href="#" onclick="toggleAllCreators()">All Creators</a>
								</li>
							{% endif %}
						</ul>
					</li>
					
					<script>
						function toggleAllCreators() {
							var hiddenCreators = document.querySelectorAll('.hidden-creator');
							for (var i = 0; i < hiddenCreators.length; i++) {
								hiddenCreators[i].classList.toggle('visible-creator');
							}
							document.getElementById('showAllCreators').classList.toggle('visible-all-creators');
							show_all_creators = !show_all_creators;
						}
					
						var show_all_creators = false;
					</script>
					

		
				<li class="dropdown first">
					{% if user.is_superuser %}
						<a href="{% url 'upload_wallpaper' %}" class="btn btn-default lv1">
							Upload
						</a>
					{% elif user.userprofiledoc.is_creator %}
						<a href="{% url 'userprofile' %}" class="btn btn-default lv1">
							Upload
						</a>
					{% elif user.userprofiledoc.is_premium %}
						<a href="{% url 'subscribe_page' %}" class="btn btn-default lv1" id="price">
							Pricing
						</a>
					{% else %}
						<a href="{% url 'login' %}" class="btn btn-default lv1">
							Upload
						</a>
					{% endif %}
				</li>
				
						
						
						<li class="dropdown first">
							<a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
							community <i class="fa fa-angle-down" aria-hidden="true"></i>
							</a>
							<ul class="dropdown-menu level1">
								<li><a href="{% url 'community' %}">Community Chat</a></li>
								{% if user.is_authenticated %}
									{% if user.userprofiledoc.is_creator %}
										<li><a href="{% url 'userprofile' %}">User Profile</a></li>
									{% endif %}
									
									{% if user.is_superuser %}
										<li><a href="{% url 'admin_dashboard' %}">User Profile</a></li>
									{% endif %}
									
									{% if user.userprofiledoc.is_premium %}
										<li><a href="{% url 'premiumuserpage' %}">User Profile</a></li>
									{% endif %}
								{% else %}
									<li><a href="{% url 'login' %}">User Profile</a></li>
								{% endif %}

							</ul>
						</li>

						<li class="dropdown first">
							{% if user.userprofiledoc.subscribed %}
						<li><a href="{% url 'AIEditor' %}">AI Editor</a></li>
					{% else %}
						<li>
							<a href="#" onclick="showSubscribeSnackbar()">AI Editor</a>
							<script>
								function showSubscribeSnackbar() {
									var snackbar = document.getElementById("snackbar");
									snackbar.innerHTML = "Please subscribe to access the AI Editor!";
									snackbar.className = "show";
									setTimeout(function(){ snackbar.className = snackbar.className.replace("show", ""); }, 3000);
								}
							</script>
						</li>
					{% endif %}
						</li>



						<li class="dropdown first">
							<a href="{% url 'ai_wallpaper_generator' %}" class="btn btn-default lv1">
								AI Wallpaper Generator
							</a>
						</li>
						

					</ul>
					<ul class="nav navbar-nav flex-child-menu menu-right">
						<ul class="nav navbar-nav flex-child-menu menu-right">
							{% if user.is_authenticated %}
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">
										<img src="{% if user.userprofiledoc.avatar %}{{ user.userprofiledoc.avatar.url }}{% else %}{% static 'image-asset/dp.jpg' %}{% endif %}" 
										style="width: 50px; height: 50px; border-radius: 50%;" 
										alt="Avatar">

									<span class="caret"></span>
									</a>
									<ul class="dropdown-menu level1">
										{% if user.userprofiledoc.is_creator %}
											<li><a href="{% url 'userprofile'%}">Dashboard</a></li>
										{% endif %}
										{% if user.is_superuser %}
											<li><a href="{% url 'admin_dashboard'%}">Dashboard</a></li>
										{% endif %}
										{% if user.userprofiledoc.is_premium %}
											<li><a href="{% url 'premiumuserpage'%}">Dashboard</a></li>
										{% endif %}
										<li class="droplogout"><a href="{% url 'logout'%}">Logout</a></li>
									</ul>
								</li>
							{% else %}
								<li class="login" id="subscribe"><a href="{% url 'subscribe_page'%}">Pricing</a></li>
								<li class="btn signup"><a href="{% url 'login'%}">LOG IN</a></li>
								<li class="btn signup" id="premiumsignup"><a href="{% url 'Premium_signup'%}">SIGN UP</a></li>
							{% endif %}
						</ul>
						
						
					</ul>
					
					
				</div>
			<!-- /.navbar-collapse -->
	    </nav>
		<div class="top-search">
			<form method="GET" id="search-form" action="#scroll">
				<input type="text" id="search-input" placeholder="Search for a Wallpaper, Superheros, nature etc. that you are looking for">
				<label for="search-input" class="search-icon">
			
					<svg id="cameraIcon" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-camera-plus" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="white" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
						<circle cx="12" cy="13" r="3" />
						<path d="M5 7h2a2 2 0 0 0 2 -2a1 1 0 0 1 1 -1h2m9 7v7a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-9a2 2 0 0 1 2 -2" />
						<line x1="15" y1="6" x2="21" y2="6" />
						<line x1="18" y1="3" x2="18" y2="9" />
					</svg>
					
					
				</label>
			</form>
			<img class="custombtn" id="search-image" src="{% static 'image-asset/topsearch.png'%}">
		</div>


		<div id="myModal" class="modal">
			<div class="modal-content">
				<span class="close">&times;</span>
				<div id="image-container"></div>
				<div id="modal-content-placeholder"></div>
				Search By Image
				<!-- Include CSRF token within the modal form -->
				<form method="post" action="{% url 'retrival' %}" enctype="multipart/form-data">
					{% csrf_token %}
					
					<input type="file" accept="image/*" name="fileInput">
					<div id="modal-content-placeholder">
						<img id="preview-image" src="#" alt="Image Preview" style="max-width: 50%; max-height: 100px;">
					</div>
					
					<button type="submit" >Search Similar</button>
				</form>
			</div>
		</div>
		

		<script>
			document.addEventListener('DOMContentLoaded', function () {
				var fileInput = document.querySelector('input[name="fileInput"]');
				var previewImage = document.getElementById('preview-image');
		
				fileInput.addEventListener('change', function () {
					var file = fileInput.files[0];
		
					if (file) {
						var reader = new FileReader();
		
						reader.onload = function (e) {
							previewImage.src = e.target.result;
						};
		
						reader.readAsDataURL(file);
					}
				});
			});
		</script>
		
	<style>
.top-search {
    position: relative;
}
.search-icon {
    position: absolute;
    top: 50%;
    right: 80px;
    transform: translateY(-50%);
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

	</style>
	<script>
    const cameraIcon = document.getElementById("cameraIcon");
    const modal = document.getElementById("myModal");
    const closeBtn = document.getElementsByClassName("close")[0];

    cameraIcon.addEventListener("click", () => {
        modal.style.display = "block";
    });

    closeBtn.addEventListener("click", () => {
        modal.style.display = "none";
    });

    window.addEventListener("click", (event) => {
        if (event.target === modal) {
            modal.style.display = "none";
        }
    });

	
</script>

	
	
	</div>
</header>



<!-- Live search script -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
	$(document).ready(function () {
		$('#search-input').keyup(function () {
			var query = $(this).val();
			$.ajax({
				type: 'GET',
				url: '/live_search/',
				data: {
					'query': query
				},
				success: function (data) {
					var results = data.products;
					var resultsHtml = '';
					resultsHtml += '<div class="product-container">';
					if (results.length === 0) {
						resultsHtml += '<img style="height:450px; width:650px; margin-top:60px" src="{% static "image-asset/not-found.svg" %}" alt="Default Image">';
						resultsHtml += '<h3 style="color: white">No Wallpapers found</h3>';
					} else {
						for (var i = 0; i < results.length; i++) {
							resultsHtml += '<div style="border-radius: 10px; max-width: 284px; border-radius: 14px;" class="product-info col-md-4 col-sm-6 pb-1" onclick="navigateToProductDesc(' + results[i].id + ')">';
							resultsHtml += '<div class="product-item bg-light mb-4">';
							resultsHtml += '<div class="product-img position-relative overflow-hidden">';
							resultsHtml += '<img align-self: unset;" class="img-fluid w-100" src="' + results[i].img1_url + '" alt="">';
							resultsHtml += '<div class="product-action"></div>';
							resultsHtml += '</div>';
							resultsHtml += '<div class="text-center py-4">';
							resultsHtml += '<a class="h6 text-decoration-none" href="#">';
							resultsHtml += '<span class="text-truncate">' + results[i].name + '</span>';
							resultsHtml += '</a>';
							resultsHtml += '<div class="d-flex align-items-center justify-content-center mt-2">';
							resultsHtml += '</div>';
							resultsHtml += '</div>';
							resultsHtml += '</div>';
							resultsHtml += '</div>';
						}
					}
					resultsHtml += '</div>';

					if (query) {
						$('#search-results').html(resultsHtml);
						$('#search-results').show();
						$('#main1').hide();
						$('#wallpaperss').hide();
						$('#filter-container12').show();
						$('#slick-multiItemSlider-container').hide();
						 // Show the filter options
					} else {
						$('#search-results').hide();
						$('#whole').show();
						$('#wallpaperss').show();
						$('#filter-container12').hide(); 
						$('#slick-multiItemSlider-container').show();
						// Hide the filter options
					}
				}
			});
		});
	});

	
	function navigateToProductDesc(prodId) {
		// Redirect to the respective product description page based on the prodId
		window.location.href = '/wallpaper/' + prodId + '/';
	}
</script>
</head>
<body>



<div class="slider wall-item">
	<div class="container">
		<div class="row">

			{% block content %}
	    	<!-- <div  class="slick-multiItemSlider">
	    		<div class="movie-item">
	    			<div class="mv-img">
	    				<a href="#"><img src="{% static 'image-asset\thumbnail.jpg'%}" alt="" width="285" height="437"></a>
	    			</div>
	    			<div class="title-in">
	    				<div class="cate">
	    					<span class="blue"><a href="#">Wallpaper</a></span>
	    				</div>
	    				<h6><a href="#">Hacker</a></h6>
	    				<p><i class="ion-android-star"></i><span>7.5</span> /10</p>
	    			</div>
	    		</div>
				<div class="movie-item">
	    			<div class="mv-img">
	    				<a href="#"><img src="{% static 'image-asset\thumbnail2.jpg'%}" alt="" width="285" height="437"></a>
	    			</div>
	    			<div class="title-in">
	    				<div class="cate">
	    					<span class="yell"><a href="#">Wallpaper</a></span>
	    				</div>
	    				<h6><a href="#">Mokey D. Luffy</a></h6>
	    				<p><i class="ion-android-star"></i><span>9.8</span> /10</p>
	    			</div>
	    		</div>
	    		<div class="movie-item">
	    			<div class="mv-img">
	    				<a href="#"><img src="{% static 'image-asset\thumbnail3.jpg'%}" alt="" width="285" height="437"></a>
	    			</div>
	    			<div class="title-in">
	    				<div class="cate">
	    					<span class="green"><a href="#">Wallpaper</a></span>
	    				</div>
	    				<h6><a href="#">Anime World</a></h6>
	    				<p><i class="ion-android-star"></i><span>8.4</span> /10</p>
	    			</div>
	    		</div>
	    		<div class="movie-item">
	    			<div class="mv-img">
	    				<a href="#"><img src="{% static 'image-asset\thumbnail4.jpg'%}" alt="" width="285" height="437"></a>
	    			</div>
	    			<div class="title-in">
	    				<div class="cate">
	    					<span class="blue"><a href="#">Wallpaper</a></span> <span class="orange">Wallpaper<a href="#"></a></span>
	    				</div>
	    				<h6><a href="#">Miles Morales</a></h6>
	    				<p><i class="ion-android-star"></i><span>8.9</span> /10</p>
	    			</div>
	    		</div>
	    		<div class="movie-item">
	    			<div class="mv-img">
	    				<a href="#"><img src="{% static 'image-asset\thumbnail5.jpg'%}" alt="" width="285" height="437"></a>
	    			</div>
	    			<div class="title-in">
	    				<div class="cate">
	    					<span class="blue"><a href="#">Wallpaper</a></span>
	    				</div>
	    				<h6><a href="#">Dark World</a></h6>
	    				<p><i class="ion-android-star"></i><span>8.0</span> /10</p>
	    			</div>
	    		</div>
				<div class="movie-item">
	    			<div class="mv-img">
	    				<a href="#"><img src="{% static 'image-asset\thumbnail6.jpg'%}" alt="" width="285" height="437"></a>
	    			</div>
	    			<div class="title-in">
	    				<div class="cate">
	    					<span class="yell"><a href="#">Wallpaper</a></span>
	    				</div>
	    				<h6><a href="#">Batman</a></h6>
	    				<p><i class="ion-android-star"></i><span>9.5</span> /10</p>
	    			</div>
	    		</div>
	    		<div class="movie-item">
	    			<div class="mv-img">
	    				<img src="{% static 'image-asset\thumbnail7.jpg'%}" alt="" width="285" height="437">
	    			</div>
	    			<div class="title-in">
	    				<div class="cate">
	    					<span class="green"><a href="#">Wallpaper</a></span>
	    				</div>
	    				<h6><a href="#">Violet Moon</a></h6>
	    				<p><i class="ion-android-star"></i><span>7.8</span> /10</p>
	    			</div>
	    		</div>
	    		<div class="movie-item">
	    			<div class="mv-img">
	    				<img src="{% static 'image-asset\thumbnail8.jpg'%}" alt="" width="285" height="437">
	    			</div>
	    			<div class="title-in">
	    				<div class="cate">
	    					<span class="blue"><a href="#">Wallpaper</a></span> <span class="orange"><a href="#">advanture</a></span>
	    				</div>
	    				<h6><a href="#">AI ART</a></h6>
	    				<p><i class="ion-android-star"></i><span>7.4</span> /10</p>
	    			</div>
	    		</div>
	    		<div class="movie-item">
	    			<div class="mv-img">
	    				<img src="{% static 'image-asset\thumbnail9.jpg'%}" alt="" width="285" height="437">
	    			</div>
	    			<div class="title-in">
	    				<div class="cate">
	    					<span class="green"><a href="#">Wallpaper</a></span>
	    				</div>
	    				<h6><a href="#">Ben10</a></h6>
	    				<p><i class="ion-android-star"></i><span id="scroll" >8.6</span> /10</p>
	    			</div>
	    		</div>
	    	</div>
	    </div>
	</div>
</div> -->

<!-- Add this section to display most viewed wallpapers -->

<div class="slick-multiItemSlider" id="slick-multiItemSlider-container">
    {% for wallpaper in most_viewed_wallpapers %}
        <div class="movie-item">
            <div class="mv-img">
                {% if wallpaper.wallpaper_image.width < wallpaper.wallpaper_image.height %}
                    <a href="{% url 'wallpaper_details' wallpaper.id %}">
                        <img src="{{ wallpaper.wallpaper_image.url }}" alt="" width="285" height="437">
                    </a>
                {% else %}
                    <a href="{% url 'wallpaper_details' wallpaper.id %}">
                        <img src="{{ wallpaper.wallpaper_image.url }}" alt="" width="285" height="437">
                    </a>
                {% endif %}
            </div>
            <div class="title-in">
                <div class="cate">
                    <span class="blue"><a href="{% url 'wallpaper_details' wallpaper.id %}">{{ wallpaper.category.name }}</a></span>
                </div>
                <h6><a href="{% url 'wallpaper_details' wallpaper.id %}">{{ wallpaper.title }}</a></h6>
                <p><i class="ion-android-star"></i><span>{{ wallpaper.view_count }}</span> views</p>
            </div>
        </div>
    {% endfor %}
</div>


<div class="title-hd">
	<h2 style="color: rgb(255, 255, 255); font-weight: bold">Recommended Wallpapers</h2>
</div>
<div class="slick-multiItemSlider" id="slick-multiItemSlider-container">
    {% if recommended_wallpapers %}
	
        {% for wallpaper in recommended_wallpapers %}
            <div class="movie-item">
				<div class="mv-img">
					{% if wallpaper.wallpaper_image.width < wallpaper.wallpaper_image.height %}
                    <a href="{% url 'wallpaper_details' wallpaper.id %}">
                        <img src="{{ wallpaper.wallpaper_image.url }}" alt="" width="285" height="437">
                    </a>
                {% else %}
                    <a href="{% url 'wallpaper_details' wallpaper.id %}">
                        <img src="{{ wallpaper.wallpaper_image.url }}" alt="" width="285" height="437">
                    </a>
                {% endif %}
				</div>
                <div class="title-in" style="margin-bottom: -10px;">
                    <div class="cate">
                        <span class="blue"><a href="{% url 'wallpaper_details' wallpaper.id %}">{{ wallpaper.category.name }}</a></span>
                    </div>
					<h6><a href="{% url 'wallpaper_details' wallpaper.id %}">{{ wallpaper.title }}</a></h6>
                    <p><i class="ion-android-star"></i><span>{{ wallpaper.average_rating }}/5</span> Rating</p>
                    {% comment %} <p>Sentiment Score: {{ wallpaper.sentiment_score }}</p> {% endcomment %}
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>




<style>
    #filter-container12 {
        display: none;
        border: 0.5px solid #efefef;
        padding: 20px;
        margin: 20px 0;
        width: 100%;
        color: white;
    }

    .form-group {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 10px;
        color: white;
    }

    .form-group label {
        margin-right: 10px;
    }

    .form-group .checkbox {
        margin-right: 10px;
    }

    .form-group select {
        margin-left: 5px;
		margin-right: 20px;
		width: auto;
    }

    /* Responsive styles for smaller screens */
    @media screen and (max-width: 767px) {
        #filter-container12 {
            padding: 10px;
            margin: 10px 0;
        }

        .form-group {
            flex-direction: column;
        }

        .form-group label,
        .form-group .checkbox,
        .form-group select {
            margin-bottom: 5px;
        }
    }
</style>


<div id="filter-container12" class="container123">
    <div class="row">
        <div class="col-md-12">
            <div class="well">
                <h3 align="center">Search Filter</h3>
                <form class="form-horizontal" id="filter-form"> <!-- Added id attribute -->
                    <div class="form-group">
                        <label for="type1" class="control-label">Type: </label>
                        {% for category in categories %}
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="category" value="{{ category.name }}" {% if query and category.name in query %} checked {% endif %}> {{ category.name }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="form-group">
                        <label class="control-label">👑License</label>
                        <div class="checkbox">
                            <label><input type="checkbox" name="license" value="free"> Free</label> <!-- Added name attribute -->
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" name="license" value="paid"> Paid</label> <!-- Added name attribute -->
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="ratings" class="control-label">Ratings</label>
                        <select class="form-control" name="ratings" id="ratings"> <!-- Added name attribute -->
                            <option value="">Any</option>
                            <option value="5">5-star</option>
                            <option value="4">4-star</option>
                            <option value="3">3-star</option>
                            <option value="2">2-star</option>
                            <option value="1">1-star</option>
                        </select>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#filter-form :input').on('change', function () {
            updateWallpaperList();
        });

        function updateWallpaperList() {
            var formData = $('#filter-form').serialize();

            $.ajax({
                type: 'GET',
                url: '{% url "live_filter" %}',
                data: formData,
                dataType: 'json',
                success: function (data) {
                    $('#search-results').html(data.html_content);
                },
                error: function (error) {
                    console.log('Error:', error);
                }
            });
        }
    });
</script>


<div class="wall-item">
    <div class="container">
        <div class="row ipad-width">
            <div class="col-md-12">
                <div class="title-hd">
                    <h2 style="color: rgb(255, 255, 255); font-weight: bold">WALLPAPERS</h2>
                    <a href="{% url 'index' %}" class="viewall">View all <i class="ion-ios-arrow-right"></i></a>
                </div>
				<div id="search-results"></div>

                <div id="wallpaperss" class="wallpapers">
					<div class="grid-sizer"></div> 
					{% if wallpapers %}
						{% for wallpaper in wallpapers %}
						<div class="wallpaper-box">
							<a href="{% url 'wallpaper_details' wallpaper.id %}" data-lightbox="wallpapers" data-title="{{ wallpaper.title }}">
								<div class="wallpaper-image">
									<img src="{{ wallpaper.wallpaper_image.url }}" alt="{{ wallpaper.title }}">
									<div class="wallpaper-details">
										{% if wallpaper.price == 'paid' %}
										<div class="premium-icon">
											<i class="fas fa-crown"></i>
										</div>
										{% endif %}
										<div class="wallpaper-overlay">
											<h3>{{ wallpaper.title }}</h3>
											<div class="like-button-container">
												<button class="like-button like-button-link" data-wallpaper-id="{{ wallpaper.id }}"><i class="fas fa-heart"></i></button>
											</div>
				
											<div class="view-count">
												<div id="innerone"><i class="fas fa-eye"></i><br></div>
												<div id="innertwo"><span id="view-count-{{ wallpaper.id }}">{{ wallpaper.view_count }}</span></div>
											</div>
				
											<p class="tags">
												{% for tag in wallpaper.tags.all %}
												<span class="tag">{{ tag.name }}</span>
												{% endfor %}
											</p>
										</div>
									</div>
								</div>
							</a>
						</div>
						{% endfor %}
					{% else %}
						<p>No wallpapers available.</p>
					{% endif %}
				</div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


<div id="snackbar"></div>

<footer class="ht-footer">
	<div class="container">
		<div class="flex-parent-ft">
			<div class="flex-child-ft item1">
				 <a href="{% url 'index'%}"><img class="logo" src="{% static '\image-asset\icon.png'%}" width="120" height="60"  alt=""></a>
				 <p>ARR WALLPAPERS is an online <br>community of desktop wallpapers enthusiasts.<br><a href="{% url 'signup' %}"><strong>Join now</strong></a> to share 
					and explore tons of collections <br>of awesome wallpapers.</p>
				<p>Call us: <a href="#">(+91) 954 438 2726</a></p>
			</div>
			<div class="flex-child-ft item2">
				<h4>Info</h4>
				<ul>
					<li><a href="{% url 'about' %}">About</a></li> 
					<li><a href="{% url 'contactform' %}">Contact Us</a></li>
					<li><a href="{% url 'community' %}">Forums</a></li>
					{% if user.userprofiledoc.subscribed %}
						<li><a href="{% url 'AIEditor' %}">AI Editor</a></li>
					{% else %}
						<li>
							<a href="#" onclick="showSubscribeSnackbar()">AI Editor</a>
							<script>
								function showSubscribeSnackbar() {
									var snackbar = document.getElementById("snackbar");
									snackbar.innerHTML = "Please subscribe to access the AI Editor!";
									snackbar.className = "show";
									setTimeout(function(){ snackbar.className = snackbar.className.replace("show", ""); }, 3000);
								}
							</script>
						</li>
					{% endif %}
						
					<li><a href="#">Blog</a></li>
					{% comment %} <li><a href="#">Help Center</a></li> {% endcomment %}
				</ul>
			</div>
			<div class="flex-child-ft item3">
				<h4>Legal</h4>
				<ul>
					<li><a href="{% url 'termsofservice' %}">Terms of Service</a></li> 
					<li><a href="{% url 'privacypolicy' %}">Privacy Policy</a></li>	
					<li><a href="#">Cookies policy</a></li>
				</ul>
			</div>
			
			<div class="flex-child-ft item4">
				<h4>Account</h4>
				<ul>
					<li><a href="{% url 'arr_contributor' %}">Sell Content</a></li>
					<li>
						{% if user.userprofiledoc.is_creator %}
							<a href="{% url 'userprofile' %}">
								My Account
							</a>
						{% elif user.userprofiledoc.is_premium %}
							<a href="{% url 'subscribe_page' %}">
								My Account
							</a>
						{% elif	user.is_superuser %}
							<a href="{% url 'admin_dashboard' %}">
								My Account
							</a>
						{% else %}
							<a href="{% url 'login' %}">
								My Account
							</a>
						{% endif %}
					</li>
					<li><a href="{% url 'liked_wallpapers' %}">Liked Wallpapers</a></li>
					

					<li><a href="#">Collections</a></li>
					{% comment %} <li><a href="#">User Guide</a></li> {% endcomment %}
					

				</ul>
			</div>
			<div class="flex-child-ft item5">
				<h4>Youtube</h4>
				<p>Subscribe to my Youtube now <br> to get latest news from us.</p>
				<form Wallpaper="https://youtube.com/@amberbeatz">
					<input type="text" placeholder="Enter your email...">
				</form>
				<a href="https://www.youtube.com/@amberbeatz/" class="btn">Subscribe now <i class="ion-ios-arrow-forward"></i></a>
			</div>
		</div>
	</div>
	<div class="ft-copyright">
		<div class="ft-left">
			<p><a target="_blank" href="">© ARR WALLPAPERS</a></p>
		</div>
		<div class="backtotop">
			<p><a href="#" id="back-to-top">Back to top  <i class="ion-ios-arrow-thin-up"></i></a></p>
		</div>
	</div>



</footer>


<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
	<div ><span style="color: white; text-align: left;">Select Language:</span>


		<div id="google_translate_element"></div></div>
		<script type="text/javascript"> 
			function googleTranslateElementInit() {
		new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
		}
		</script>
		<style>
			#google_translate_element .skiptranslate{
				display: inline !important;
		
			}
			.goog-te-gadget{
				color: transparent !important;
			}
			.goog-te-combo {
				padding: 8px; 
				font-size: 14px; 
				border: 1px solid #666; 
				border-radius: 4px; 
				background-color: #333; 
				color: #fff; 
			}
			.goog-te-combo:hover {
				border-color: #999; 
			}
			.goog-te-combo:focus {
				outline: none; 
				border-color: #007bff; 
				box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
			}
		
			.goog-te-combo-arrow {
				font-size: 12px; 
				color: #000000;
			}
			.goog-te-menu-value {
				font-size: 14px; 
				color: #fff; 
				background-color: #333; 
			}
			.goog-te-menu-value:hover {
				background-color: #007bff; 
				color: #000000; 
			}

		</style>
<!-- end of footer section-->
<script src="{% static 'js\jquery.js'%}"></script>
<script src="{% static 'js\plugins.js'%}"></script>
<script src="{% static 'js\plugins2.js'%}"></script>
<script src="{% static 'js\custom.js'%}"></script>


<script>
    lightbox.option({
        'resizeDuration': 200,
        'wrapAround': true
    });
</script>
<script>
$(document).ready(function () {
    var $wallpapers = $('.wallpapers');
    $wallpapers.imagesLoaded(function () { 
        $wallpapers.masonry({
            itemSelector: '.wallpaper-box',
            columnWidth: '.grid-sizer',
            percentPosition: true,
            gutter: 10 
        });
    });
});
</script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Function to set a cookie
        function setCookie(name, value, days) {
            var expires = "";
            if (days) {
                var date = new Date();
                date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                expires = "; expires=" + date.toUTCString();
            }
            document.cookie = name + "=" + (value || "") + expires + "; path=/";
        }
        // Function to get a cookie
        function getCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) === ' ') c = c.substring(1, c.length);
                if (c.indexOf(nameEQ) === 0) return c.substring(nameEQ.length, c.length);
            }
            return null;
        }
        var likedWallpapers = JSON.parse(getCookie("likedWallpapers")) || [];
        var likeButtons = document.querySelectorAll('.like-button');
        likeButtons.forEach(function(likeButton) {
            var wallpaperId = likeButton.getAttribute('data-wallpaper-id');
            if (likedWallpapers.includes(wallpaperId)) {
                likeButton.classList.add('liked'); 
            }

            likeButton.addEventListener('click', function() {
                if (likedWallpapers.includes(wallpaperId)) {
                    likedWallpapers = likedWallpapers.filter(function(id) {
                        return id !== wallpaperId;
                    });
                    likeButton.classList.remove('liked'); 
                } else {
                    likedWallpapers.push(wallpaperId);
                    likeButton.classList.add('liked'); 
                }
                setCookie("likedWallpapers", JSON.stringify(likedWallpapers), 365);
            });
        });
    });
	document.addEventListener("DOMContentLoaded", function () {
        var likeButtons = document.querySelectorAll('.like-button-link');

        likeButtons.forEach(function (likeButton) {
            likeButton.addEventListener('click', function (event) {
                event.preventDefault();
            });
        });
    });
</script>

<div class="alan-btn"></div>
<script src="https://cdn.jsdelivr.net/npm/@alan-ai/alan-sdk-web/dist/alan.min.js"></script>
<script type="text/javascript" src="https://studio.alan.app/web/lib/alan_lib.min.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<script>
    var alanBtnInstance = alanBtn({
        key: "990295dbd0c4bd2bf080918877d35c002e956eca572e1d8b807a3e2338fdd0dc/stage",
        onCommand: function (commandData) {
            if (commandData.command === "go:back") {
                window.location.href = "{% url 'ai_wallpaper_generator' %}";
            } else if (commandData.command === "login") {
                window.location.href = "{% url 'login' %}";
            } else if (commandData.command === "go:index") {
                window.location.href = "{% url 'index' %}";
            } else if (commandData.command === "superherowallpapers") {
                window.location.href = "/category/superhero/";
            }else if (commandData.command === "animewallpapers") {
                window.location.href = "/category/anime/";
            }else if (commandData.command === "pricing") {
                window.location.href = "{% url 'subscribe_page' %}";
			}	
        },
        rootEl: document.getElementById("alan-btn"),
    });
</script>



</body>

</html>
