{% extends 'index.html' %}
{% load static %}
{% block content %}
<style>
    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
    }
    
    .masonry {
        column-count: 4;  /* Adjust the number of columns as needed */
        column-gap: 15px;
    }
    
    .masonry-item {
        break-inside: avoid;
        margin-bottom: 15px;
        position: relative;
    }
    
    .liked-wallpaper {
        position: relative;
        overflow: hidden;
    }
    
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7); /* Adjust the overlay background color and opacity as needed */
        color: #fff;  /* Adjust the text color as needed */
        padding: 10px;
        text-align: center;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .liked-wallpaper:hover .overlay {
        opacity: 1;
    }
    
    
    .title {
        color: white;
        font-size: 14px;
        text-align: left;
        position: absolute;
        top: 10px;
        left: 10px;
        padding: 5px;
    }
    
    .wallpaper-image {
        width: 100%;
        height: auto;
        display: block;
    }
    
</style>
<div class="container">
    <h1 style="color: white;">Liked Wallpapers</h1>
    <br>
    <div id="liked-wallpapers-container" class="masonry">
        {% if wallpapers %}
            {% for wallpaper in wallpapers %}
                <div class="liked-wallpaper masonry-item">
                    <a href="{% url 'wallpaper_details' wallpaper_id=wallpaper.id %}" data-lightbox="wallpapers" data-title="{{ wallpaper.title }}">
                        <img src="{{ wallpaper.image_url }}" alt="{{ wallpaper.title }}" class="wallpaper-image">
                        <div class="overlay">
                            <h2 class="title">{{ wallpaper.title }}</h2>
                        </div>
                    </a>
                </div>
                {% if forloop.counter|divisibleby:4 and not forloop.last %}
                    <div style="width: 100%; clear: both;"></div>
                {% endif %}
            {% endfor %}
        {% else %}
            <p>No liked wallpapers found.</p>
        {% endif %}
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js"></script>
<script>
    function getCookie(name) {
        var value = "; " + document.cookie;
        var parts = value.split("; " + name + "=");
        if (parts.length == 2) return parts.pop().split(";").shift();
    }

    document.addEventListener("DOMContentLoaded", function () {
        var likedWallpaperIds = JSON.parse(getCookie("likedWallpapers")) || [];
    
        if (likedWallpaperIds.length === 0) {
            var messageElement = document.createElement("p");
            messageElement.textContent = "You haven't liked any wallpapers yet.";
            document.getElementById("liked-wallpapers-section").appendChild(messageElement);
        } else {
            fetch("/liked_wallpapers/?likedWallpapers=" + JSON.stringify(likedWallpaperIds))
                .then(response => response.json())
                .then(data => {
                    var likedWallpapersContainer = document.getElementById("liked-wallpapers-container");
    
                    if (data.likedWallpapers.length === 0) {
                        var messageElement = document.createElement("p");
                        messageElement.textContent = "No liked wallpapers found.";
                        likedWallpapersContainer.appendChild(messageElement);
                    } else {
                        data.likedWallpapers.forEach(function (wallpaper) {
                            var wallpaperElement = document.createElement("div");
                            wallpaperElement.className = "liked-wallpaper";
                            wallpaperElement.innerHTML = `
                            <div>
                                <h2>${wallpaper.title}</h2>
                            </div>
                            <div>
                                <!-- Use the image URL to display the image -->
                                <img src="${wallpaper.image_url}" alt="${wallpaper.title}">
                            </div>
                            `;
                            likedWallpapersContainer.appendChild(wallpaperElement);
                        });
                    }
                })
                .catch(error => {
                    console.error(error);
                });
        }
    });
    
</script>

{% endblock %}
