{% load static %}
{% extends 'index.html' %}
{% block content %}
    <style>
          #uavatar.enlarge {
            position: fixed;
            z-index: 1000000;
            border-radius: 0;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            cursor: zoom-out;
          }
          #overlay{
            position: fixed;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.8);
            z-index: 5;
            width: 100%;
            height: 100%;
            display: none;
          }

          body, #web {
            background: #0f1216;
            margin: 0;
            padding: 0;
            font-family: Roboto,sans-serif;
            font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
            width: 100%;
        }

        
        #userheaderc {
            -moz-background-size: cover;
            -webkit-background-size: cover;
            background-size: cover;
            background-position: top 20% center;
            position: relative;
            background-image: url('{% static "image-asset/userheader.webp" %}');
        }
        
#userheader {
    width: 1060px;
    margin: 0 auto;
    text-align: center;
    padding: 32px 0 30px;
    position: relative;
}
#umain {
    text-align: center;
}
#uavatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding-top: 0;
    margin-right: 10px;
    margin-bottom: -20px;
    display: inline-block;
    cursor: zoom-in;
    object-fit: cover;
}
#umain h1 {
    margin-top: 0;
    font-size: 20px;
    display: inline-block;
}

h1 {
    font-family: 'Roboto Slab',serif;
    font-family: 'Roboto Slab',Helvetica,Arial,-apple-system,BlinkMacSystemFont,sans-serif;
    font-size: 34px;
    font-weight: 300;
    color: white;
}
#usocial {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding-left: 20px;
}
#uinfo {
    background: rgb(0 0 0 / 35%);
    border-radius: 20px;
    height: 40px;
    list-style: none;
    padding: 0 10px;
    display: inline-block;
    margin-top: 27px;
    margin-bottom: 25px;
}
#uinfo li {
    display: inline-block;
    font-size: 14px;
    color: #fff;
}

#udate {
    background-image: url('{% static "image-asset/udate.svg" %}');
    background-repeat: no-repeat;
    background-position: top 50% left 5px;
    background-size: 12px 13px;
    padding: 11px 10px 11px 25px;
}
#ubio {
    font-size: 14px;
    line-height: 25px;
    color: #c3c8d6;
    width: 575px;
    margin: 0 auto;
}
#utabsc {
    background-color: #000000;
    padding: 0;
}
#utabs {
    width: 1060px;
    margin: 0 auto;
}
#ustats {
    list-style: none;
    padding: 10px 0;
    display: block;
    width: 906px;
    margin: 0 auto;
}
#ustats li {
    height: 32px;
    display: inline-block;
    border-right: 1px solid #333948;
    margin-right: 25px;
    padding-right: 24px;
}
#ustats li>span {
    display: inline-block;
    width: 36px;
    height: 28px;
    margin-right: 10px;
}

#uwallpapers>span {
        background-image: url('{% static "image-asset/uwallpapers.svg" %}');
    background-repeat: no-repeat;
    background-size: 25px 27px;
    background-position: top 50% left 50%;
}
#ustats li p {
    color: #fff;
    font-family: 'Roboto Slab',serif;
    font-size: 17px;
    display: inline-block;
    margin: 0;
}
#ustats li p span {
    color: #9da2af;
    font-family: Roboto,sans-serif;
    font-size: 12px;
    display: block;
}
a {
    text-decoration: none;
    color: #0066c6;
}
#pagination {
    margin: 20px 0 30px 0;
}
#pagination ul {
    margin: 0;
    padding: 0;
}
#pagination li {
    display: inline;
    margin: 0 4px;
}
#pagination .current strong {
    background-color: #ffd30d;
    color: #101319;
    font-weight: bold;
}

#pagination a, #pagination strong {
    padding: 4px 10px;
    color: #9aa7b8;
    background-color: #000000;
    border: 1px solid #222630;
}
.uploaded span.stats{
    font-size: 11px;
    color: white;
    margin: 0;
    padding-left: 8px;
    display: block;
  }
  #uviews>span {
    background-image: url('{% static "image-asset/uviews.svg" %}');
    background-repeat: no-repeat;
    background-size: 36px 25px;
    background-position: top 50% left 50%;
}
#udownloads>span {
    background-image: url('{% static "image-asset/udownloads.svg" %}') ;
    background-repeat: no-repeat;
    background-size: 34px 28px;
    background-position: top 50% left 50%;
}
#ulikes>span {
    background-image: url('{% static "image-asset/ulikes.svg" %}');
    background-repeat: no-repeat;
    background-size: 36px 27px;
    background-position: top 50% left 50%;
}

#ufeatured>span {
    background-image: url('{% static "image-asset/badge.svg" %}');
    background-repeat: no-repeat;
    background-size: 36px 27px;
    background-position: top 50% left 50%;
}

#ustickers>span {
    background-image: url('{% static "image-asset/ustickers.svg" %}');
    background-repeat: no-repeat;
    background-size: 36px 36px;
    background-position: top 50% left 50%;
}

@media screen and (max-width: 900px) {
    #album, #content, #header, #footer, #stats, #intro, #user, #userheader, #utabs, .collectionc, .wp-listc {
        width: 95%;
    }
    #umain {
        text-align: center;
        float: none;
        width: auto;
    }
    #uavatar {
        width: 30px;
        height: 30px;
        margin-bottom: -10px;
    }
    #umain h1 {
        font-size: 16px;
    }
    #uinfo {
        height: auto;
        margin-top: 20px;
    }
    #ubio {
        width: 90%;
    }
    #utabs {
        padding-bottom: 5px;
    }
}
@media screen and (max-width: 1060px) {
    #album, #content, #header, #footer, #stats, #intro, #user, #userheader, #utabs, .collectionc, .wp-listc {
        width: 95%;
    }
}


</style>
<style>
    .wp-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 -15px;
    }
    
    .masonry-item {
        width: calc(25% - 30px);
        box-sizing: border-box;
        margin-bottom: 15px;
    }
    
    .uploaded:nth-child(4n) {
        clear: both;
    }
        

    .uploaded img {
        width: 100%;
        height: auto;
        border-radius: 5px;
        display: block;
    }
</style>

<style>
    @media (min-width: 576px) {
        .masonry-item {
            width: calc(50% - 7.5px);
        }
    }

    @media (min-width: 768px) {
        .masonry-item {
            width: calc(33.3333% - 10px);
        }
    }
</style>

<div id="web">
    <div id="userheaderc">
        <div id="userheader">
            <div id="umain">
                <img id="uavatar" src="{% if user_profile.avatar.url %}{{  user_profile.avatar.url }}{% else %}{% static 'image-asset/dp.jpg' %}{% endif %}" alt="{{ userdetail.username }}">
                <h1>{{ userdetail.username }}</h1>
    <ul id="usocial">
    </ul>
    </div>
    <ul id="uinfo">
        <li id="udate">Joined on: {{ userdetail.date_joined|date:"F d, Y" }}</li>
    </ul>
    <p id="ubio"></p>
    </div></div>
    <div id="utabsc">
        <div id="utabs">
            <ul id="ustats">
                <li id="uwallpapers" title="{{ user_profile.user.username }} has uploaded {{ uploaded_wallpapers_count }} wallpapers">
                    <span></span><p>{{ uploaded_wallpapers_count }}<span>wallpapers</span></p>
                </li>
                <li id="uviews" title="{{ user_profile.user.username }}'s wallpapers have been visited {{ total_view_count }} times">
                    <span></span><p>{{ total_view_count }}<span>views</span></p>
                </li>
                <li id="udownloads" title="{{ user_profile.user.username }}'s wallpapers have been downloaded {{ total_downloads }} times">
                    <span></span><p>{{ total_downloads }}<span>downloads</span></p>
                </li>
    <!-- <li id="ulikes" title="Denimnelson22's wallpapers have been saved 0 times as favorite">
    <span></span><p>0<span>favs</span></p>
    </li>
    <li id="ufeatured" title="Denimnelson22's wallpapers have been featured 2 times">
    <span></span><p>2<span>featured</span></p>
    </li>
    <li id="ustickers" title="Denimnelson22's wallpapers have received 8 stickers">
    <span></span><p>8<span>stickers</span></p>
    </li> -->
    </ul>
    </div></div>
    <div class="collectionc">
        {% if uploaded_wallpapers %}
            <div class="wp-grid masonry">
                {% for wallpaper in uploaded_wallpapers %}
                    <div class="uploaded masonry-item">
                        <a href="{% url 'wallpaper_details' wallpaper.id %}" title="{{ wallpaper.title }}">
                            <img loading="lazy" src="{{ wallpaper.wallpaper_image.url }}" width="160" height="160" alt="{{ wallpaper.title }}" title="{{ wallpaper.title }}">
                        </a>
                        <span class="stats views">Views: {{ wallpaper.view_count }}</span>
                    </div>
                    {% if forloop.counter|divisibleby:4 %}
                    <div style="clear:both;"></div> 
                {% endif %}
                {% endfor %}
            </div>
    
            <br style="clear: both;">
    
            <div id="pagination">
                <ul>
                    {% if user_content.has_previous %}
                        <li><a href="?page=1">‹‹</a></li>
                        <li><a href="?page={{ user_content.previous_page_number }}">‹</a></li>
                    {% endif %}
    
                    <li class="current"><strong>{{ user_content.number }}</strong></li>
    
                    {% if user_content.has_next %}
                        <li><a href="?page={{ user_content.next_page_number }}">›</a></li>
                        <li><a href="?page={{ user_content.paginator.num_pages }}">››</a></li>
                    {% endif %}
                </ul>
            </div>
        {% else %}
            <p>No wallpapers to be shown.</p>
        {% endif %}
    </div>
    
    
    
    </div>

{% endblock %}
