<!-- {% extends 'index.html' %}

{% block content %}
  <h1>Search Results for "{{ query }}"</h1>

  {% if wallpapers %}
    <div class="wallpaper-container">
      {% for wallpaper in wallpapers %}
        <div class="row wallpaper-info">
          <div class="col-md-12 text-center">
            <h2 class="wallpaper-title">{{ wallpaper.title }}</h2>
            <p class="wallpaper-description">{{ wallpaper.description }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <img src="{{ wallpaper.wallpaper_image.url }}" alt="{{ wallpaper.title }}" class="img-fluid wallpaper-image">
            {% if wallpaper.price == 'paid' %}
              <a href="{{ wallpaper.wallpaper_image.url }}" class="btn btn-primary premium-button">Premium Download</a>
            {% else %}
              <a href="{{ wallpaper.wallpaper_image.url }}" download class="btn btn-primary custom-button">Download Wallpaper</a>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>No wallpapers found for your query.</p>
  {% endif %}
{% endblock %} -->
