{% extends 'index.html' %}

{% block content %}
<style>
    .title-description-container {
        background-color: rgb(0, 0, 0);
        color: white;
        padding: 20px;
        text-align: center;
        margin-bottom: 20px;
    }

    /* Title styling */
    .wallpaper-title {
        font-size: 36px;
        font-weight: bold;
        text-align: left;
    }

    /* Description styling */
    .wallpaper-description {
        font-size: 18px;
        text-align: left;
        margin-top: 10px;
    }

    /* Wallpaper container */
    .wallpaper-container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        background: black;
    }

    .wallpaper-image-container {
        max-width: 60%;
        flex-grow: 1;
        background: black;
        background-color: rgb(21, 21, 21);
        color: white;
        padding: 20px;
        text-align: center;
        margin-bottom: auto;
    }

    /* Wallpaper image styling */
    .wallpaper-image {
        max-width: 100%;
        max-height: 100%;
        height: auto;
        width: auto;
        margin-right: 130px;
    }

    /* Customization container */
    .customization-container {
        background-color: rgb(0, 0, 0);
        color: white;
        padding: 20px;
        text-align: center;
        border-radius: 5px;
        max-width: 35%;
    }

    .custom-button {
        background-color: blue;
        color: white;
        font-weight: bold;
        border-radius: 5px;
        padding: 10px 20px;
        text-decoration: none;
        transition: background-color 0.3s ease;
        margin-bottom: 10px;
        display: block;
        
    }

    .custom-button1 {
        background-color: rgb(255, 115, 0);
        color: white;
        font-weight: bold;
        border-radius: 5px;
        padding: 10px 20px;
        text-decoration: none;
        transition: background-color 0.3s ease;
        margin-bottom: 10px;
        display: block;
        
    }
    .custom-button1:hover {
        background-color: rgb(252, 152, 39);
        color: white;
        text-decoration: none;
    }
    
    #premiumbtn{
        background-color: rgb(255, 182, 47);
    }
    #premiumbtn:hover{
        background-color: orange;
        color: white;
    }

    .custom-button:hover {
        background-color: darkblue;
        text-decoration: none;
    }

    /* Username styling */
    .uploader-info {
        font-size: 16px;
        font-weight: bold;
        margin-top: 10px;
        text-align: left;
    }

    #show-resolutions-button {
        margin-left: 50px;
    }

    .resize{
        display: flex;
        flex-direction: column;

    }
    .resize-crop{
        display: flex;
    }

    .download-icon {
        font-size: 24px;
        color: rgb(255, 255, 255);
        margin-left: 10px;
        cursor: pointer;
        background-color: blue;
        padding: 10px;
        height: 50px;
    }
    .download-icon1 {
        font-size: 24px;
        color: rgb(255, 255, 255);
        margin-left: 10px;
        cursor: pointer;
        background-color: rgb(255, 115, 0);
        padding: 10px;
        height: 50px;
    }
    span{
        height: 50px;
        width: 9px;
        margin-top: 10px;
    }
    .resize-crop-form {
        margin-top: 20px;
        text-align: center;
        display: flex;
    }

    .resize-crop-inputcrop {
        width: 100px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 5px;
        margin-right: 5px;
    }
    .aligntext{
        text-align: left;
    }
    .middle{
        cursor: pointer;
    }
    .resmac{

        display: inline-flex;
     }
     .container{
        background-color: rgb(0, 0, 0);

     }
   
    @media (min-width: 1200px) {
        .wallpaper-container {
            flex-direction: row;
        }
        .wallpaper-image-container {
            max-width: 60%;
        }
        .customization-container {
            max-width: 35%;
        }
    }

    /* Medium screens */
    @media (max-width: 1199px) {
        .wallpaper-container {
            flex-direction: column;
        }
        .wallpaper-image-container {
            max-width: 100%;
        }
        .customization-container {
            max-width: 100%;
        }
    }

    /* Small screens */
    @media (max-width: 767px) {
        .wallpaper-title {
            font-size: 24px;
        }
        .wallpaper-description {
            font-size: 16px;
        }
        .wallpaper-image-container {
            padding: 10px;
        }
        .customization-container {
            padding: 10px;
        }
    }
</style>

<div class="container">
    <!-- Title and description container -->
    <div class="title-description-container">
        <h2 class="wallpaper-title">{{ wallpaper.title }}</h2>
        <p class="wallpaper-description">{{ wallpaper.description }}</p>
    </div>
    
    <!-- Wallpaper and customization container -->
    <div class="wallpaper-container">
        <!-- Container for wallpaper image -->
        <div class="wallpaper-image-container">
            <img src="{{ wallpaper.wallpaper_image.url }}" alt="{{ wallpaper.title }}" class="wallpaper-image">
               <!-- Username container -->
    <!-- Username container -->
    <div class="uploader-info" style="color: white;">
        Uploaded by: <a href="{% url 'profileview' username=wallpaper.user.username %}">{{ wallpaper.user.username }}</a>
    </div>
    

        </div>
        <div class="customization-container">
            {% if wallpaper.price == 'paid' %}
                {% if user.is_authenticated %}
                    {% if user.userprofiledoc.subscribed %}
                        <a href="{{ wallpaper.wallpaper_image.url }}" download class="btn btn-primary custom-button1">Download 4k Wallpaper👑</a><br><br>
                        <a id="download-for-my-screen" class="btn btn-primary custom-button1">Download for My Screen</a><br><br><br>
                <form class="resize-crop-form d-flex">
                    <div class="resize">
                        <div>
                            <p style="color: white;" class="aligntext">Resize & Crop Wallpapers:</p>
                        </div>
                        <div class="resize-crop">
                            <input type="number" id="width" class="resize-crop-inputcrop" placeholder="Width">
                            <span>x</span>
                            <input type="number" id="height" class="resize-crop-inputcrop" placeholder="Height">
                            <i class="fas fa-download download-icon1" id="download-resized-wallpaper"></i>
                        </div>
                    </div>
                </form><br><br>
                <button id="show-resolutions-button" class="btn btn-primary custom-button1">
                    Select Resolution and Download
                    <i class="fas fa-caret-down" id="arrow-icon"></i>
                </button>
                <div class="resolution-list" style="display: none;">
                    <h4>PC(720P, 1080P, 2K, 4K, 5K):</h4>
                    <ul>
                        <a class="middle"><li data-resolution="1366x768">1366x768</li></a>
                        <a class="middle"><li data-resolution="1920x1080">1920x1080</li></a>
                        <a class="middle"><li data-resolution="1440x900">1440x900</li></a>
                        <!-- Add more resolution options here -->
                    </ul>
                    <h4>iMac:</h4>
                    <ul class="center">
                        <div class="res">
                            <div class="resmac">
                                <div>iMac 21.5" LED-backlit:</div>
                                <div>
                                    <a class="middle"><li data-resolution="1920x1080"> 1920x1080</li></a>
                                </div>
                            </div>
                            <div class="resmac">
                                <div>iMac 21.5" Retina 4K:</div>
                                <div>
                                    <a class="middle"><li data-resolution="4096x2304"> 4096x2304</li></a>
                                </div>
                            </div>
                        </div>
                    </ul>
                </div>
                    {% else %}
                        <a href="{% url 'subscribe_page' %}" class="btn btn-primary custom-button" id="premiumbtn">Download<br>Go Premium</a>
                    {% endif %}
                {% else %}
                    <a href="{% url 'Premium_signup' %}" class="btn btn-primary custom-button" id="premiumbtn">Download<br>Go Premium</a>
                {% endif %}
            {% else %}
                <a id="download-for-my-screen" class="btn btn-primary custom-button">Download for My Screen</a><br><br><br>
                <a href="{{ wallpaper.wallpaper_image.url }}" download class="btn btn-primary custom-button">Download Original Wallpaper</a><br><br>
                <form class="resize-crop-form d-flex">
                    <div class="resize">
                        <div>
                            <p style="color: white;" class="aligntext">Resize & Crop Wallpapers:</p>
                        </div>
                        <div class="resize-crop">
                            <input type="number" id="width" class="resize-crop-inputcrop" placeholder="Width">
                            <span>x</span>
                            <input type="number" id="height" class="resize-crop-inputcrop" placeholder="Height">
                            <i class="fas fa-download download-icon" id="download-resized-wallpaper"></i>
                        </div>
                    </div>
                </form><br><br>
                <button id="show-resolutions-button" class="btn btn-primary custom-button">
                    Select Resolution and Download
                    <i class="fas fa-caret-down" id="arrow-icon"></i>
                </button>
                <div class="resolution-list" style="display: none;">
                    <h4>PC(720P, 1080P, 2K, 4K, 5K):</h4>
                    <ul>
                        <a class="middle"><li data-resolution="1366x768">1366x768</li></a>
                        <a class="middle"><li data-resolution="1920x1080">1920x1080</li></a>
                        <a class="middle"><li data-resolution="1440x900">1440x900</li></a>
                        <!-- Add more resolution options here -->
                    </ul>
                    <h4>iMac:</h4>
                    <ul class="center">
                        <div class="res">
                            <div class="resmac">
                                <div>iMac 21.5" LED-backlit:</div>
                                <div>
                                    <a class="middle"><li data-resolution="1920x1080"> 1920x1080</li></a>
                                </div>
                            </div>
                            <div class="resmac">
                                <div>iMac 21.5" Retina 4K:</div>
                                <div>
                                    <a class="middle"><li data-resolution="4096x2304"> 4096x2304</li></a>
                                </div>
                            </div>
                        </div>
                    </ul>
                </div>
            {% endif %}
        </div>
        
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var showResolutionsButton = document.getElementById("show-resolutions-button");
        var resolutionList = document.querySelector(".resolution-list");
    
        showResolutionsButton.addEventListener("click", function () {
            if (resolutionList.style.display === "none") {
                resolutionList.style.display = "block";
                showResolutionsButton.textContent = "Select Resolution and Download";
                document.getElementById("arrow-icon").classList.remove("up"); // Remove the "up" class
            } else {
                resolutionList.style.display = "none";
                showResolutionsButton.textContent = "Select Resolution and Download";
                document.getElementById("arrow-icon").classList.add("up"); // Add the "up" class
            }
        });
    
        resolutionList.addEventListener("click", function (event) {
            if (event.target.nodeName === "LI") {
                var selectedResolution = event.target.getAttribute("data-resolution");
                if (selectedResolution.includes("x")) {
                    var resolutionParts = selectedResolution.split("x");
                    var customWidth = parseInt(resolutionParts[0]);
                    var customHeight = parseInt(resolutionParts[1]);
    
                    if (!isNaN(customWidth) && !isNaN(customHeight) && customWidth > 0 && customHeight > 0) {
                        var canvas = document.createElement("canvas");
                        var ctx = canvas.getContext("2d");
                        var image = new Image();
    
                        // Load the original image
                        image.onload = function () {
                            canvas.width = customWidth;
                            canvas.height = customHeight;
                            ctx.drawImage(image, 0, 0, customWidth, customHeight);
                            var resizedImageDataURL = canvas.toDataURL("image/jpeg");
                            var downloadLink = document.createElement("a");
                            downloadLink.href = resizedImageDataURL;
                            downloadLink.download = "wallpaper_" + selectedResolution + ".jpg";
                            downloadLink.click();
                        };
                        image.src = "{{ wallpaper.wallpaper_image.url }}";
                    }
                } else {
                    var downloadLink = document.createElement("a");
                    downloadLink.href = "{{ wallpaper.wallpaper_image.url }}";
                    downloadLink.download = "wallpaper_" + selectedResolution + ".jpg";
                    downloadLink.click();
                }
            }
        });
    });
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var originalImageUrl = "{{ wallpaper.wallpaper_image.url }}";
        var stretchedImage = new Image();
        stretchedImage.onload = function () {
            var canvas = document.createElement("canvas");
            var ctx = canvas.getContext("2d");

            // Determine the aspect ratios
            var sourceAspectRatio = stretchedImage.width / stretchedImage.height;
            var screenWidth = window.screen.width;
            var screenHeight = window.screen.height;
            var targetAspectRatio = screenWidth / screenHeight;

            var sourceWidth, sourceHeight, sourceX, sourceY;

            if (sourceAspectRatio > targetAspectRatio) {
                sourceWidth = stretchedImage.height * targetAspectRatio;
                sourceHeight = stretchedImage.height;
                sourceX = (stretchedImage.width - sourceWidth) / 2;
                sourceY = 0; // Keep the top portion of the image
            } else {
                sourceWidth = stretchedImage.width;
                sourceHeight = stretchedImage.width / targetAspectRatio;
                sourceX = 0;
                sourceY = 0; // Keep the top portion of the image
            }

            canvas.width = screenWidth;
            canvas.height = screenHeight;
            ctx.drawImage(stretchedImage, sourceX, sourceY, sourceWidth, sourceHeight, 0, 0, screenWidth, screenHeight);

            var croppedImageDataURL = canvas.toDataURL("image/jpeg");
            var downloadStretchedButton = document.getElementById("download-for-my-screen");
            downloadStretchedButton.href = croppedImageDataURL;
            downloadStretchedButton.download = "yourScreen_wallpaper.jpg";
            var buttonText = "Download for My Screen " + screenWidth + "x" + screenHeight + "px";
            downloadStretchedButton.textContent = buttonText;
        };
        stretchedImage.src = originalImageUrl;
    });
</script>


<!-- crop from middle -->
<!-- <script>
    document.addEventListener("DOMContentLoaded", function () {
        var originalImageUrl = "{{ wallpaper.wallpaper_image.url }}";
        var stretchedImage = new Image();
        stretchedImage.onload = function () {
            var canvas = document.createElement("canvas");
            var ctx = canvas.getContext("2d");
    
            // Determine the aspect ratios
            var sourceAspectRatio = stretchedImage.width / stretchedImage.height;
            var screenWidth = window.screen.width;
            var screenHeight = window.screen.height;
            var targetAspectRatio = screenWidth / screenHeight;
    
            var sourceWidth, sourceHeight, sourceX, sourceY;
    
            if (sourceAspectRatio > targetAspectRatio) {
                sourceWidth = stretchedImage.height * targetAspectRatio;
                sourceHeight = stretchedImage.height;
                sourceX = (stretchedImage.width - sourceWidth) / 2;
                sourceY = 0; // Keep the top portion of the image
            } else {
                sourceWidth = stretchedImage.width;
                sourceHeight = stretchedImage.width / targetAspectRatio;
                sourceX = 0;
                sourceY = (stretchedImage.height - sourceHeight) / 2;
            }
    
            canvas.width = screenWidth;
            canvas.height = screenHeight;
            ctx.drawImage(stretchedImage, sourceX, sourceY, sourceWidth, sourceHeight, 0, 0, screenWidth, screenHeight);
    
            var croppedImageDataURL = canvas.toDataURL("image/jpeg");
            var downloadStretchedButton = document.getElementById("download-for-my-screen");
            downloadStretchedButton.href = croppedImageDataURL;
            downloadStretchedButton.download = "yourScreen_wallpaper.jpg";
            var buttonText = "Download for My Screen " + screenWidth + "x" + screenHeight + "px";
            downloadStretchedButton.textContent = buttonText;
        };
        stretchedImage.src = originalImageUrl;
     
    });
</script> -->


<script>
    document.addEventListener("DOMContentLoaded", function () {
        var originalImageUrl = "{{ wallpaper.wallpaper_image.url }}";
        var stretchedImage = new Image();

        stretchedImage.onload = function () {
            var downloadIcon = document.getElementById("download-resized-wallpaper");
            var widthInput = document.getElementById("width");
            var heightInput = document.getElementById("height");

            downloadIcon.addEventListener("click", function () {
                var customWidth = parseInt(widthInput.value);
                var customHeight = parseInt(heightInput.value);

                if (!isNaN(customWidth) && !isNaN(customHeight) && customWidth > 0 && customHeight > 0) {
                    var canvas = document.createElement("canvas");
                    var ctx = canvas.getContext("2d");

                    // Calculate the aspect ratio of the original image
                    var originalAspectRatio = stretchedImage.width / stretchedImage.height;

                    // Calculate the aspect ratio of the user's custom dimensions
                    var customAspectRatio = customWidth / customHeight;

                    var newWidth, newHeight;
                    var offsetX = 0;
                    var offsetY = 0;

                    if (originalAspectRatio > customAspectRatio) {
                        // Original image is wider than user's custom dimensions (landscape)
                        newWidth = stretchedImage.height * customAspectRatio;
                        newHeight = stretchedImage.height;
                        offsetX = (stretchedImage.width - newWidth) / 2;
                    } else {
                        // Original image is taller than user's custom dimensions (portrait)
                        newWidth = stretchedImage.width;
                        newHeight = stretchedImage.width / customAspectRatio;
                        offsetY = (stretchedImage.height - newHeight) / 2;
                    }

                    canvas.width = customWidth;
                    canvas.height = customHeight;

                    ctx.drawImage(stretchedImage, offsetX, offsetY, newWidth, newHeight, 0, 0, customWidth, customHeight);

                    var resizedImageDataURL = canvas.toDataURL("image/jpeg");
                    var downloadLink = document.createElement("a");
                    downloadLink.href = resizedImageDataURL;
                    downloadLink.download = "resized_wallpaper.jpg";
                    downloadLink.click();
                } else {
                    alert("Please enter valid width and height values.");
                }
            });
        };

        stretchedImage.src = originalImageUrl;
    });
</script>



{% endblock %}
